@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-black.ttf);
}

body {
    background-color: lightblue;
  }
  
h1, a {
    
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: navy;
    margin-left: 20px;
}
img{
    border-radius: 50%;
    width: 300px
}